.file_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.file_list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .file_item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .file_progress {
      position: relative;

      p {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 12px;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }
}

@media (max-width: 500px) {
  .file_content {
    p {
      font-size: 14px;
    }
  }
}
