:host {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .tickets_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  @media (max-width: 600px) {
    .tickets_header {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}
