<div class="input_item">
  <span tuiTitle>{{ props.label }}</span>

  <label tuiInputFiles>
    <input
      tuiInputFiles
      [formControl]="fileControl"
      (change)="onChange($event.target.files)"
      [accept]="getAccept"
    />
    <ng-template let-dragged>
      @if (dragged) {
        <div class="file_content">
          <tui-icon icon="@tui.arrow-down-to-line" />

          <p>Загрузите файл, отпустив его в эту область</p>
        </div>
      } @else {
        <div class="file_content">
          <tui-icon icon="@tui.cloud-upload" />

          <p>
            Перетащите файл сюда или
            <a tuiLink>нажмите, чтобы загрузить</a>
          </p>
        </div>
      }
    </ng-template>
  </label>

  @if (files(); as files) {
    <tui-files class="file_list">
      @for (file of files; track file.id) {
        <div class="file_item">
          <tui-file
            (remove)="removeFile(file)"
            [state]="file.isDone ? 'normal' : 'loading'"
            [file]="file.file"
            showDelete="always"
          />

          <div class="file_progress">
            <progress max="100" tuiProgressBar [value]="file.progress"></progress>

            <p>{{ file.progress }}%</p>
          </div>

          @if (file.isDone) {
            <button tuiButton size="m" type="button" (click)="downloadAttachment(file)">
              Скачать
            </button>
          }
        </div>
      }
    </tui-files>
  }
</div>
